@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f1f1f1;
    min-height: 200vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: aqua;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    position: fixed;
}
.logo1{
margin-left: -40px;
}

.group{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
header ul{
    position: relative;
    display: flex;
    gap: 30px;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
    
}

header ul li a::before{
   content: '';
   position: absolute; 
   bottom: -2px;
   width: 100%;
   height: 2px;
   transform: scaleX(0);
   background-color: rgb(233, 17, 17);
   transition: transform 0.5s ease-in-out;
   transform-origin: right;

}
header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
header .search{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    right: -100%;;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}
.searchBox.active{
    right: 0;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.5rem;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.searchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}
.searchBtn.active{
    left: 0;
}
.closeBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
.menuToggle{
    position: relative;
    display: none;
}
@media (max-width: 800px){
    .searchBtn{
        left: 0;
    }
    .menuToggle{
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    header .navigation{
        position: absolute;
       opacity: 0;
       visibility: hidden;
       left: 100%;
    }
    header.open .navigation{
        top: 100%;
        opacity: 1;
        visibility: visible;
        left:  0;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.873);
        width: 50%;
        height: calc(100vh - 100px);
        padding: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        
        transition: right 0.5s linear;
        margin-top: auto;

    }
    header.open .navigation li a{
        font-size: 1.25em;
    }
    .hide{
        display: none;
    }
}    

.carousel{
  height: 620px;
  margin: 52px auto;
  width: 98vw;
  overflow:hidden;
  position: relative;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  color: #f1683a;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 80px;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click btn */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: rgba(34, 178, 205, 1);
  border-radius: 10px;
  padding: 20px;
  width: 100%; 
  height: auto; 
  color: white;
  overflow: hidden;
  height: 300px;
}

.middle-section img {
  max-width: 100%;
  height: auto; 
  width: 500px; 
}

.right-section {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  flex: 1;
  margin-left: -10px;
}

.right-section li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.right-section li i {
  color: rgb(50, 235, 50);
}

.search-section {
  display: flex;
  flex-direction: row; 
  gap: 10px;
  flex-wrap: wrap; 
  flex: 1;
  position: relative;
  align-items: center;
}

.search-section input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  flex: 1; 
  min-width: 0;
}
.input-container {
  position: relative; 
  flex: 1;
  display: flex;
  align-items: center;
}
.input-container input {
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
}
.input-container .shield-icon {
  position: absolute;
  right: 10px;
  top: 50%; 
  transform: translateY(-50%);
  font-size: 16px;
  color: #d21404;
  opacity: 0;
  transition: opacity 0.3s ease; 
  pointer-events: none; 
}

/* Show the shield icon when input has text */
.input-container input:focus ~ .shield-icon,
.input-container input:not(:placeholder-shown) ~ .shield-icon {
  opacity: 1;
}
.search-section button {
  background-color: #0288d1;
  border: none;
  border-radius: 80px; 
  color: white;
  cursor: pointer;
  padding: 10px 20px; 
  transition: background-color 0.3s;
}
.search-section button:hover {
  background-color: #026fa1;
}
/* Responsive Design */
@media (max-width: 1000px) {
  .container2 {
    flex-direction: column; 
    gap: 15px;
    align-items: center;
    text-align: center;
  }

  .middle-section, .right-section {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .middle-section img {
    width: 100%;
    max-width: 50%;
  }

  .right-section {
    flex: 1;
    align-items: flex-start; 
    gap: 15px;
  }

  .search-section {
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%; 
  }
  .input-container {
    flex: 3;
  }

  .search-section input {
    flex: 3; 
    padding: 10px;
    font-size: 16px;
    width: 70%; 
  }

  .search-section button {
    flex: 1; 
    padding: 10px;
    font-size: 14px;
    width: auto; 
    border-radius: 5px;
  }
}

.football {
  width: 50px;
  height: 50px;
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.Y6SGcKXt94P2AZDhtNev-AHaHa&pid=Api&P=0&h=180'); /* Add football image */
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
}

.container5 {
  margin: 5px auto; 
  max-width: 95%; 
  max-height: 85vh; 
  background-color: #1e1e1e; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.header .logo h1 {
  font-size: 30px;
  color: #ff6347;
}

.header .search-bar {
  display: flex;
}

.header .search-bar input {
  padding: 8px;
  font-size: 16px;
  width: 200px;
}

.header .search-bar button {
  padding: 10px;
  background-color: #ff6347;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.header .search-bar button:hover {
  background-color: #ff4500;
}

.main-content {
  padding: 20px;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-item {
  width: 210px; /* Adjust the width of the movie box */
  height: 340px; /* Adjust the height */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #222;
  padding: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.movie-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.movie-item:hover img {
  transform: scale(1.05); 
}

.movie-item h3 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

/* Hide description by default */
.movie-description {
  display: none;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

/* Watch button */
.movie-item button {
  background-color: #ff6347;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}


.movie-item.active {
  transform: scale(1.05); /* Slightly enlarge the box */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.movie-item.active .movie-description {
  display: block; 
}

.movie-item.active button {
  opacity: 1; 
}

/* Modal (optional for more details) */
.movie-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.movie-modal .modal-content {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%; 
  width: 500px; 
  max-height: 90%;
  overflow-y: auto;
  color: white;
  position: relative; 
}
.movie-modal .close-btn {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.movie-modal img {
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}
.movie-modal p {
  font-size: 16px;
  margin: 10px 0;
}
.movie-modal button {
  padding: 10px 20px;
  background-color: #ff6347;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.movie-modal button:hover {
  background-color: #ff4500;
}
/* the scrollbar */
::-webkit-scrollbar {
  width: 8px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /
}
::-webkit-scrollbar-thumb {
  background: #ff6347;
  border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.more-button-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px; 
}

.more-button {
  background-color: #1e1e1e; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #333; 
}

.more-button:active {
  background-color: #003f7f;
}


/* Responsive Design */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header .search-bar {
      width: 100%;
      margin-top: 10px;
  }

  .header .search-bar input {
      width: calc(100% - 100px);
  }

  .header .search-bar button {
      width: 100px;
  }

  .movie-grid {
      grid-template-columns: repeat(2, 1fr);
  }

  .movie-item h3 {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .movie-grid {
      grid-template-columns: 1fr;
  }

  .header .logo h1 {
      font-size: 24px;
  }

  .header .search-bar input {
      font-size: 14px;
  }

  .header .search-bar button {
      font-size: 14px;
  }

  .movie-item h3 {
      font-size: 14px;
  }

  .movie-description {
      font-size: 12px;
  }

  .movie-modal .modal-content {
      max-width: 90%;
      width: auto; 
  }

  .movie-modal p {
      font-size: 14px;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
  max-width: 1170px;
  margin: auto;
  height: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
  flex: 1;

}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  text-decoration: underline;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; 
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
/*responsive*/
@media (max-width: 767px){
 .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px){
 .footer-col{
    width: 100%;
  }
}
.copyright {
  margin-top: 40px; /* Space above the copyright message */
  font-size: 18px; /* Font size for mobile */
  color: #ffffff; /* Text color */
}
.copyright:hover{
  color: aqua;
}

@media (max-width: 768px) {
  .footer-col {
    width: 100%; /* Make footer columns full width on mobile */
    margin-bottom: 20px; /* Space between columns */
  }

  .copyright {
    font-size: 12px; /* Smaller font size for mobile */
    padding: 10px; /* Padding for the copyright section */
  }
}
